/***** General *****/
* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  max-width: 1440px;
}

/* Définition du code couleur qui seront mobilisés à travers tout le css dans :root
On utilise des propriétés personnalisées -- qui permettront d'être rappelée ensuite dans le doc*/
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

a {
  text-decoration: none;
  color: black;
}
p {
  font-size: 18px;
  font-weight: 400;
}
h1 {
  font-size: 25px;
  font-weight: 700;
}
h2 {
  font-size: 18px;
  font-weight: 700;
}
.fa-solid {
    color: var(--main-color);
}
main{
  width: 100%;
}
/***** Header *****/
/*Organisation du header global, positionnement des éléments & apparence*/
.boxHeader {
  display: flex;
  justify-content: space-between;
}
.navLien {
  display: flex;
  margin-right: 30px;
  gap: 40px;
}
.logo {
  align-self: flex-start;
  height: 20px;
  padding-left: 50px;
  padding-top: 30px;
}
.lienHeader:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}
.lienHeader {
  padding-top: 10px;
}

/***** Espace Recherche & Filtres*****/
main {
  margin: 0 50px;
  width: 100%;
  box-sizing: border-box;
}
/*Organisation Position & apparence de la barre de recherche*/
.searchBar {
  display: flex;
  height: 49px;
  width: 377px;
  align-items: center;
  margin: 30px 0px 30px 0px;
}
/*Icone position gps*/
.positionPin {
  background-color: var(--main-bg-color);
  height: 18px;
  width: 27px;
  padding: 11px 0px 11px 15px;
  border-radius: 12px 0px 0px 12px;
}
/*Bouton rechercher*/
button {
  color: white;
  background-color: var(--main-color);
  border: none;
  margin-left: -5px;
  padding: 8px 12px 11px 12px;
  border-radius: 0px 12px 12px 0px;
  font-weight: 700;
  font-size: 18px;
}
/*Zone de texte Recherche*/
#search {
  height: 40px;
  width: 200px;
  border: none;
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
  padding: 11px;
}
::placeholder {
  text-align: center;
  color: black;
  opacity: 1;
  font-weight: 700;
  font-size: 18px;
}

/*Temporaire - pour cacher la loupe de la version mobile*/
#loupe {
  display: none;
}

/*Organisation & Apparence de l'espace Filtres*/
.boxFilters {
  display: flex;
  align-items: center;
  margin: 0px 0px 30px 0px;
  gap: 20px;
}
.filter{
    border: 3px solid var(--main-bg-color);
    padding: 10px;
    border-radius: 25px;
}
.filter:hover{
    background-color: var(--filter-bg-color);
}
.titreSearchFilter{
  padding-bottom: 30px;
}


/*Gestion des cards - apparence et organisation*/
.flexHebergement{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.boxHebergement{
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  border-radius: 10px;
  gap: 30px;
  padding:30px 30px 0px 30px;
  box-sizing:border-box ;
  width: 65%;
  height: 580px;
}
.boxCarteHebergement{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:30px;
}
.hebergement{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0,0,0,0.1));
  width: 27%;
  height: 180px;
}
.hebergement img{
  width: 100%;
  height:110px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.populaire{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.boxHebergementPopulaire{
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  border-radius: 10px;
  gap: 30px;
  padding:30px 30px 0px 30px;
  box-sizing:border-box ;
  width: 35%;
  height: 580px;
}
.hebergementPopulaire{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0,0,0,0.1));
  width: 100%;
  height: 100px;
}
.hebergementPopulaire img{
  width: 33%;
  height: 100px;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}
.populaireCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 15px;
  width: 67%;
  height: 100px;
}
.neutral-star {
  color: var(--main-bg-color)
}
.euro{
  font-weight: 700;
}